# Análise de dados de lojas, usaremos um arquivo em excel.
Calcularemos nesse projeto o faturamento por loja, qtde de produtos vendidos por loja e o ticket medio de produtos por loja.
Após os cálculos enviaremos um email com esse relatório.

In [1]:
import pandas as pd

df = pd.read_excel('Vendas.xlsx')

display(df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
100994,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204
100995,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080
100996,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87
100997,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108
100998,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266

In [2]:
# Descobrindo o período de dados

inicio = pd.to_datetime(df['Data']).dt.date.min()
print(inicio)

fim = pd.to_datetime(df['Data']).dt.date.max()
print(fim)

2019-01-01
2019-12-26

In [3]:
# Verificando valores nulos

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100999 entries, 0 to 100998
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Código Venda    100999 non-null  int64
 1   Data            100999 non-null  datetime64[ns]
 2   ID Loja         100999 non-null  object
 3   Produto         100999 non-null  object
 4   Quantidade      100999 non-null  int64
 5   Valor Unitário  100999 non-null  int64
 6   Valor Final     100999 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 5.4+ MB

In [4]:
# Verificando tipo de dados

df.dtypes

Código Venda               int64
Data              datetime64[ns]
ID Loja                   object
Produto                   object
Quantidade                 int64
Valor Unitário             int64
Valor Final                int64
dtype: object

In [5]:
# Outra forma: contagem de valores nulos
df.isnull().sum()

Código Venda      0
Data              0
ID Loja           0
Produto           0
Quantidade        0
Valor Unitário    0
Valor Final       0
dtype: int64

In [6]:
# Selecionando/filtrando colunas específicas do dataset

df[['ID Loja', 'Valor Final']]

                           ID Loja  Valor Final
0               Iguatemi Esplanada          358
1               Iguatemi Esplanada          360
2               Iguatemi Esplanada          368
3                   Norte Shopping          600
4                   Norte Shopping           71
...                            ...          ...
100994  Center Shopping Uberlândia          204
100995  Center Shopping Uberlândia         1080
100996  Center Shopping Uberlândia           87
100997           Ribeirão Shopping          108
100998           Ribeirão Shopping          266

[100999 rows x 2 columns]

In [7]:
# Queremos agrupar todaas as lojas e somar o faturamento:
faturamento = df[['ID Loja', 'Valor Final']].groupby('ID Loja').sum()
display(faturamento)

                                  Valor Final
ID Loja
Bourbon Shopping SP                   1726110
Center Shopping Uberlândia            1668921
Iguatemi Campinas                     1762419
Iguatemi Esplanada                    1699681
Norte Shopping                        1711968
Novo Shopping Ribeirão Preto          1678225
Palladium Shopping Curitiba           1721120
Parque Dom Pedro Shopping             1631630
Passei das Águas Shopping             1649014
Ribeirão Shopping                     1707122
Rio Mar Recife                        1722766
Rio Mar Shopping Fortaleza            1698430
Salvador Shopping                     1646739
Shopping Barra                        1653103
Shopping Center Interlagos            1640486
Shopping Center Leste Aricanduva      1682870
Shopping Eldorado                     1648111
Shopping Ibirapuera                   1635060
Shopping Iguatemi Fortaleza           1674824
Shopping Midway Mall                  1590441
Shopping Morumbi                      1586444
Shopping Recife                       1624879
Shopping SP Market                    1721763
Shopping União de Osasco              1663770
Shopping Vila Velha                   1731167

In [8]:
quantidade = df[['ID Loja', 'Quantidade']].groupby('ID Loja').sum()   #.reset_index()--> isso é para criar uma coluna de indices
display(quantidade)

                                  Quantidade
ID Loja
Bourbon Shopping SP                     8863
Center Shopping Uberlândia              8627
Iguatemi Campinas                       8935
Iguatemi Esplanada                      8580
Norte Shopping                          9014
Novo Shopping Ribeirão Preto            8751
Palladium Shopping Curitiba             9091
Parque Dom Pedro Shopping               8388
Passei das Águas Shopping               8618
Ribeirão Shopping                       8825
Rio Mar Recife                          8863
Rio Mar Shopping Fortaleza              8937
Salvador Shopping                       8698
Shopping Barra                          8638
Shopping Center Interlagos              8675
Shopping Center Leste Aricanduva        8938
Shopping Eldorado                       8719
Shopping Ibirapuera                     8723
Shopping Iguatemi Fortaleza             8629
Shopping Midway Mall                    8206
Shopping Morumbi                        8508
Shopping Recife                         8581
Shopping SP Market                      8927
Shopping União de Osasco                8730
Shopping Vila Velha                     9224

In [9]:
# Ticket medio de produtos por loja

ticket_medio = (faturamento['Valor Final']/ quantidade['Quantidade']).round(2).to_frame()
ticket_medio = ticket_medio.rename(columns={0: 'Ticket Médio'})
print(ticket_medio)

                                  Ticket Médio
ID Loja
Bourbon Shopping SP                     194.75
Center Shopping Uberlândia              193.45
Iguatemi Campinas                       197.25
Iguatemi Esplanada                      198.10
Norte Shopping                          189.92
Novo Shopping Ribeirão Preto            191.78
Palladium Shopping Curitiba             189.32
Parque Dom Pedro Shopping               194.52
Passei das Águas Shopping               191.35
Ribeirão Shopping                       193.44
Rio Mar Recife                          194.38
Rio Mar Shopping Fortaleza              190.04
Salvador Shopping                       189.32
Shopping Barra                          191.38
Shopping Center Interlagos              189.11
Shopping Center Leste Aricanduva        188.28
Shopping Eldorado                       189.03
Shopping Ibirapuera                     187.44
Shopping Iguatemi Fortaleza             194.09
Shopping Midway Mall                    193.81
Shopping Morumbi                        186.46
Shopping Recife                         189.36
Shopping SP Market                      192.87
Shopping União de Osasco                190.58
Shopping Vila Velha                     187.68

In [10]:
# Enviar um email com o relatório 

import win32com.client as win32

outlook = win32.Dispatch('outlook.application')
mail = outlook.CreateItem(0)
mail.To = 'fabianoferraz@id.uff.br'
mail.Subject = 'Relatório de Vendas por Loja'
mail.HTMLBody = f'''
<p>Prezados,</p>

<p>Segue o Relatório de Vendas por cada Loja.</p>

<p>Faturamento:</p>
{faturamento.to_html(formatters={'Valor Final': 'R${:,.2f}'.format})}

<p>Quantidade Vendida:</p>
{quantidade.to_html()}

<p>Ticket Médio dos Produtos em cada Loja:</p>
{ticket_medio.to_html(formatters={'Ticket Médio': 'R${:,.2f}'.format})}

<p>Qualquer dúvida estou à disposição.</p>

<p>Att.,</p>
<p>Fabiano</p>
'''

mail.Send()